<mat-card class="dialog">

    <mat-card-header class="dialog__header type--{{pokemon.types[0].type.name}} type">
        <mat-card-title class="dialog__header--title">
            {{pokemon.name | titlecase}}
        </mat-card-title>
    </mat-card-header>

    <mat-card-subtitle class="dialog__subname">
        <div class="dialog__subname--id">
            <b>N.°{{pokemon.id}}</b>
        </div>
        <div class="dialog__subname--types">
            <b *ngFor="let types of pokemon.types">
                {{types.type.name | noscript}}
            </b>
        </div>
    </mat-card-subtitle>

    <mat-card-content class="dialog__content">
        <div class="dialog__content__left">
            <img class="dialog--img" mat-card-image src={{pokemon.sprites.front_default}} alt="{{pokemon.name}} sprite">
        </div>

        <div class="dialog__content__right">
            <ul>
                <li *ngFor="let stat of pokemon.stats" class="dialog__content__right__stats">
                    <p class="dialog__content__right__stats--stat">{{stat.stat.name | titlecase | noscript}}</p>
                    <p>{{stat.base_stat}}</p>
                </li>
            </ul>
        </div>

    </mat-card-content>

</mat-card>