@mixin subname {
    display: flex;
    margin: 0px;
}

:host{
    @include subname();
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main{
    @include subname();
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 180px;
    margin: 8px;
}

.card__header--title{
    @include subname();
    align-items: center;
}

.card__subname{
    @include subname();
    justify-content: space-between;
}

.card__subname--id{
    @include subname();
    b{
        margin: 5px;
    }
}

.card__subname--types{
    @include subname();

    b{
        margin: 5px 4px;
    }
}

.card--img{
    width: 60%;
    align-self: center;
}

.pagination{
    display: flex;
    justify-content: center;
    margin-right: 40px;
    .ngx-pagination{
        padding: 0px;
    }
}