.type--fire{border-bottom: 3px solid #c72100;}
.type--water{border-bottom: 3px solid #0c67c2;}
.type--grass{border-bottom: 3px solid #3b9c05;}
.type--bug{border-bottom: 3px solid #88960e;}
.type--flying{border-bottom: 3px solid #9aabf6;}
.type--normal{border-bottom: 3px solid #c6c0b8;}
.type--electric{border-bottom: 3px solid #f9b716;}
.type--psychic{border-bottom: 3px solid #e8437c;}
.type--fighting{border-bottom: 3px solid #81341d;}
.type--ice{border-bottom: 3px solid #7bd9f7;}
.type--poison{border-bottom: 3px solid #8c408e;}
.type--rock{border-bottom: 3px solid #b1994f;}
.type--fairy{border-bottom: 3px solid #f3aef3;}
.type--dark{border-bottom: 3px solid #423126;}
.type--ground{border-bottom: 3px solid #d0af52;}
.type--steel{border-bottom: 3px solid #9393a5;}
.type--dragon{border-bottom: 3px solid #705ad8;}
.type--ghost{border-bottom: 3px solid #454593;}